name: Push New PYPI Release
run-name: Pushing new v${{ github.event.release.tag_name }} of Sentralify to PyPI
on:
  release:
    types: [published]
  workflow_dispatch:
    
jobs:
  UploadToPyPI:
    runs-on: ubuntu-latest
    steps:
      - run: git clone https://github.com/mario872/sentralify
      - run: python -m pip install twine=6.0.1 build toml
      # Copy files into build directory
      - run: tree .
      - run: cp sentralify/sentralify/__init__.py sentralify/build/src/sentralify/
      - run: cp sentralify/sentralify/generators.py sentralify/build/src/sentralify/
      - run: cp sentralify/sentralify/scrapers.py sentralify/build/src/sentralify/
      - run: cp sentralify/sentralify/requirements.txt sentralify/build/
      - run: cp sentralify/README.md sentralify/build/
      - run: cp sentralify/LICENSE sentralify/build/
      # Update version in pyproject.toml file
      - run: python -c "import toml;data=toml.load('sentralify/build/pyproject.toml');data['project']['version']='${{ github.event.release.tag_name }}';f=open('sentralify/build/pyproject.toml','w');toml.dump(data, f);f.close()"
      - run: cat sentralify/build/pyproject.toml
      # Build and upload
      - run: python -m build sentralify/build/
      - run: tree .
      - run: python -m twine check sentralify/build/dist/*
      - run: python -m twine upload -u __token__ -p "$pypi_token" sentralify/build/dist/*
        env:
          pypi_token: ${{ secrets.PYPI_API_TOKEN }}
